@font-face {
    font-family: "Ginora-Sans" ;
    src: local("Ginora-Sans-Regular"), url(../fonts/Ginóra-Sans-Regular.woff2) format("woff2");
    font-weight: 400;font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Ginora-Sans" ;
    src: local("Ginora-Sans-Light"), url(../fonts/Ginóra-Sans-Regular.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Ginora-Sans" ;
    src: local("Ginora-Sans-Semi-Bold"), url(../fonts/Ginóra-Sans-Regular.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Ginora-Sans" ;
    src: local("Ginora-Sans-Bold"), url(../fonts/Ginóra-Sans-Regular.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Gilroy" ;
    src: local("Gilroy-Bold"), url(../fonts/Gilroy-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Gilroy" ;
    src: local("Gilroy_Light"), url(../fonts/Gilroy-Light.woff2) format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Gilroy" ;
    src: local("Gilroy-Medium"), url(../fonts/Gilroy-Medium.woff2) format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Gilroy" ;
    src: local("Gilroy-Regular"), url(../fonts/Gilroy-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}